.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  min-width: 250px;
}
.logo__text-wrapper {
  display: flex;
  flex-direction: column;
}
.logo__title,
.logo__subtitle {
  text-transform: uppercase;
  color: #fff;
}
.logo__title {
  font-size: 26px;
  font-family: "Muller-Regular";
}
.logo__subtitle {
  font-size: 16px;
  font-family: "Muller-Thin";
  letter-spacing: 1px;
}

.blue-btn {
  padding: 12px 15px;
  background-color: rgba(0, 75, 139, 1);
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-wrapper {
  width: 65px;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
}
.dropdown__btn {
  width: 100%;
  height: 30px;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.66);
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dropdown__list {
  list-style-type: none;
  width: 65px;
  left: -1px;
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.dropdown__item {
  width: 100%;
  height: 30px;
  color: rgba(255, 255, 255, 0.66);
  font-size: 14px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section__header {
  width: 75%;
}
.section__title {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: rgba(21, 21, 25, 0.7);
}
.section__subtitle {
  margin-top: 18px;
  color: rgba(21, 21, 25, 1);
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Muller-Regular";
}
.section__title-light {
  color: rgba(255, 255, 255, 0.5);
}
.section__subtitle-light {
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1440px) {
  .section__subtitle {
    font-size: 42px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1280px) {
  .logo-wrapper {
    min-width: 215px;
  }
  .logo-img {
    width: 80px;
  }
  .logo__title {
    font-size: 22px;
  }
  .logo__subtitle {
    font-size: 13px;
  }
  .blue-btn {
    padding: 10px 12px;
  }
  .section__title {
    font-size: 16px;
  }
  .section__subtitle {
    font-size: 34px;
  }
}

@media screen and (max-width: 1024px) {
  .logo-wrapper {
    min-width: 185px;
  }
  .logo-img {
    width: 60px;
  }
  .logo__title {
    font-size: 18px;
  }
  .logo__subtitle {
    font-size: 12px;
  }
  .blue-btn {
    padding: 8px;
    font-size: 11px;
  }
  .dropdown-wrapper,
  .dropdown__list {
    width: 50px;
    background-color: rgba(21, 21, 25, 1);
  }
  .dropdown__btn,
  .dropdown__item {
    height: 24px;
    font-size: 12px;
  }
  .section__subtitle {
    font-size: 28px;
    margin-top: 10px;
  }
}
