@font-face {
  font-family: "Muller-Regular";
  src: url(../fonts/MullerNextTrial/MullerNextTrial-Regular.ttf);
}
@font-face {
  font-family: "Muller-Thin";
  src: url(../fonts/MullerNextTrial/MullerNextTrial-Thin.ttf);
}
